## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [52]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [53]:
# Your code here
list_1=range (100)
sample_list_1= random.sample (list_1, 80)
print (sample_list_1)
len (sample_list_1)

[98, 34, 39, 21, 50, 90, 4, 26, 97, 68, 72, 15, 28, 49, 3, 58, 80, 32, 74, 23, 25, 94, 47, 79, 52, 85, 51, 71, 66, 56, 48, 30, 10, 70, 62, 35, 93, 11, 18, 60, 6, 87, 73, 89, 57, 77, 38, 14, 16, 1, 99, 75, 82, 96, 69, 54, 22, 76, 95, 17, 20, 63, 45, 9, 61, 84, 78, 12, 59, 46, 92, 83, 40, 86, 33, 44, 41, 2, 81, 42]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [54]:
set1=set(sample_list_1)
print (len (set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [55]:
sample_list_2=[]
for n in range (80):
    sample_list_2+=random.sample (range (100), 1)
print (sample_list_2)

[89, 13, 44, 51, 61, 48, 48, 23, 10, 71, 25, 9, 64, 38, 50, 85, 12, 51, 43, 11, 15, 42, 45, 57, 56, 48, 85, 11, 28, 37, 63, 26, 49, 85, 41, 10, 48, 38, 87, 33, 57, 53, 53, 14, 44, 73, 74, 19, 74, 22, 32, 58, 35, 35, 24, 8, 18, 2, 94, 38, 80, 9, 71, 71, 92, 92, 34, 31, 2, 13, 63, 58, 21, 79, 94, 56, 56, 50, 2, 67]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [56]:
set2= set(sample_list_2)
print (len(set2))
print (set2)
#al haberlo pasado a conjunto elimina las repeticiones)

52
{2, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 21, 22, 23, 24, 25, 26, 28, 31, 32, 33, 34, 35, 37, 38, 41, 42, 43, 44, 45, 48, 49, 50, 51, 53, 56, 57, 58, 61, 63, 64, 67, 71, 73, 74, 79, 80, 85, 87, 89, 92, 94}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [57]:
set3=set1 -set2
print (set3)

{1, 3, 4, 6, 16, 17, 20, 30, 39, 40, 46, 47, 52, 54, 59, 60, 62, 66, 68, 69, 70, 72, 75, 76, 77, 78, 81, 82, 83, 84, 86, 90, 93, 95, 96, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [58]:
set4=set2-set1
print (set4)

{64, 67, 37, 8, 43, 13, 19, 53, 24, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [59]:
set5=set1 & set2
print (set5)

{2, 9, 10, 11, 12, 14, 15, 18, 21, 22, 23, 25, 26, 28, 32, 33, 34, 35, 38, 41, 42, 44, 45, 48, 49, 50, 51, 56, 57, 58, 61, 63, 71, 73, 74, 79, 80, 85, 87, 89, 92, 94}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [60]:
print (len (set1))
print (len (set2))
print (len (set3))
print (len (set4))
print (len (set5))

80
52
38
10
42

In [61]:
Total_numeros= (len (set1)+len(set2))- len(set5)
print (f"la cantidad de numeros utilizada ha sido de {Total_numeros}")
interseccion= (len (set5))
print (f"de los cuales, {interseccion}, están en ambos conjuntos")
unicos1= (len (set3))
print (f"{unicos1} números son únicos del primer conjunto")
unicos2= (len (set4))
print (f"{unicos2} números son únicos del segundo conjunto")
total=unicos1+unicos2+interseccion
total==Total_numeros

la cantidad de numeros utilizada ha sido de 90
de los cuales, 42, están en ambos conjuntos
38 números son únicos del primer conjunto
10 números son únicos del segundo conjunto

True

#### Create an empty set called `set6`.

In [62]:
set6=set()

In [63]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [64]:
set6.update(set3)
print (set6)
set6.update (set5)
print (set6)

{1, 3, 4, 6, 16, 17, 20, 30, 39, 40, 46, 47, 52, 54, 59, 60, 62, 66, 68, 69, 70, 72, 75, 76, 77, 78, 81, 82, 83, 84, 86, 90, 93, 95, 96, 97, 98, 99}
{1, 2, 3, 4, 6, 9, 10, 11, 12, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 56, 57, 58, 59, 60, 61, 62, 63, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [65]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [66]:
# Your code here
set2.issubset (set1)

False

In [67]:
set3.issubset (set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [71]:
suma1=set3.union(set4,set5)
print (suma1)
suma2=set1.union(set2)
suma1==suma2

{1, 2, 3, 4, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

True

#### Using the `pop` method, remove the first element from `set1`.

In [84]:
print (set1)
set1.pop ()
print (set1)

{2, 3, 4, 6, 10, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 54, 56, 57, 58, 60, 62, 63, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 90, 92, 93, 94, 95, 96, 97, 98}
{3, 4, 6, 10, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 54, 56, 57, 58, 60, 62, 63, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 90, 92, 93, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [88]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
listb=set(list_to_remove)
print (set1)
print(listb)
listc=listb-set1
set1=set1-listb
print (set1)# Estos son los elementos que quedan
print (listc)

{3, 4, 6, 10, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 54, 56, 57, 58, 60, 62, 63, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 90, 92, 93, 94, 95, 96, 97, 98}
{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
{3, 4, 6, 10, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 54, 56, 57, 58, 60, 62, 63, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 90, 92, 93, 94, 95, 96, 97, 98}
{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}