## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [62]:
# Your code here


sample_list_1=random.sample(range(100),k=80)

print (sample_list_1)

[62, 50, 76, 11, 66, 93, 78, 20, 45, 1, 92, 24, 25, 21, 34, 65, 82, 6, 81, 57, 51, 7, 49, 41, 17, 3, 88, 12, 35, 5, 94, 10, 73, 38, 27, 63, 31, 15, 42, 54, 64, 72, 60, 97, 9, 56, 47, 30, 71, 37, 2, 58, 52, 99, 80, 32, 39, 29, 19, 44, 91, 90, 18, 75, 55, 89, 48, 96, 84, 4, 79, 69, 95, 40, 86, 16, 36, 53, 43, 77]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [116]:
# Your code here

set1=set(sample_list_1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 24, 25, 27, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 69, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [64]:
# Your code here
sample_list_2=[]

for i in range(0,80):
    sample_list_2.append(random.randint(0,80))

print(f"sample_list_2= {sample_list_2}")
print(len(sample_list_2))

sample_list_2= [48, 44, 62, 36, 68, 44, 41, 66, 48, 49, 5, 72, 64, 45, 67, 55, 38, 34, 47, 76, 79, 70, 58, 67, 53, 77, 55, 74, 74, 46, 3, 79, 32, 47, 68, 55, 38, 33, 39, 22, 11, 44, 69, 29, 38, 73, 31, 44, 73, 42, 49, 52, 0, 74, 68, 75, 17, 15, 50, 27, 64, 76, 26, 33, 39, 27, 17, 46, 80, 3, 21, 58, 61, 77, 24, 66, 64, 70, 67, 26]
80

In [66]:
# Your code here
sample_list_2=[]

for i in range(0,80):
    sample_list_2.append(random.randint(0,80))

print(f"sample_list_2= {sample_list_2}")
print(len(sample_list_2))

sample_list_2= [2, 11, 27, 25, 63, 61, 22, 24, 63, 41, 64, 48, 46, 54, 27, 33, 9, 12, 36, 68, 54, 70, 58, 29, 8, 34, 3, 64, 48, 55, 33, 32, 8, 0, 27, 40, 34, 46, 61, 0, 54, 46, 28, 76, 38, 44, 7, 29, 78, 8, 65, 10, 53, 78, 44, 73, 23, 6, 23, 42, 18, 5, 66, 15, 69, 18, 1, 43, 64, 43, 56, 10, 39, 22, 5, 50, 76, 16, 36, 61]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [68]:
# Your code here
print(len(sample_list_2)) 
set2=set(sample_list_2)
print(set2)
print(f"NO, la longitud ahora es {len(set2)}") 
#No se porque al crear el set solo coge los primeros 50 valores

80
{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 18, 22, 23, 24, 25, 27, 28, 29, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 46, 48, 50, 53, 54, 55, 56, 58, 61, 63, 64, 65, 66, 68, 69, 70, 73, 76, 78}
NO, la longitud ahora es 52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [69]:
# Your code here

set3=set1.difference(set2)
print(f"set3= {set3}")

set3= {4, 17, 19, 20, 21, 30, 31, 35, 37, 45, 47, 49, 51, 52, 57, 60, 62, 71, 72, 75, 77, 79, 80, 81, 82, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [70]:
# Your code here

set4=set2.difference(set1)
print(f"set4= {set4}")

set4= {0, 33, 68, 70, 8, 46, 22, 23, 28, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [71]:
# Your code here
set5=set1.intersection(set2)
print(f"set5= {set5}")

set5= {1, 2, 3, 5, 6, 7, 9, 10, 11, 12, 15, 16, 18, 24, 25, 27, 29, 32, 34, 36, 38, 39, 40, 41, 42, 43, 44, 48, 50, 53, 54, 55, 56, 58, 63, 64, 65, 66, 69, 73, 76, 78}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [78]:
# Your code here
import math

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
print("set4 < set3 < set5 < set2 < set1")

80
52
80
10
42
set4 < set3 < set5 < set2 < set1

#### Create an empty set called `set6`.

In [51]:
# Your code here
set6={}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [89]:
# Your code here
s5=list(set5)
print(s5)
for i in s5:
    set6=set3.update({i})
print(set6)

[1, 2, 3, 5, 6, 7, 9, 10, 11, 12, 15, 16, 18, 24, 25, 27, 29, 32, 34, 36, 38, 39, 40, 41, 42, 43, 44, 48, 50, 53, 54, 55, 56, 58, 63, 64, 65, 66, 69, 73, 76, 78]
None

#### Check if `set1` and `set6` are equal.

In [90]:
# Your code here
set==set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [91]:
# Your code here
print(set2.issubset(set1))

False

In [92]:
print(set3.issubset(set1))

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [97]:
# Your code here
set345=set3.union(set4,set5)
set12=set1.union(set2)
set12==set345

True

#### Using the `pop` method, remove the first element from `set1`.

In [115]:
# Your code here
print(set1)
ls1=list(set1)
ls1.pop(0)
set1=ls1
print(set1)

[3, 4, 5, 6, 7, 10, 12, 15, 16, 17, 18, 20, 24, 25, 27, 30, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 72, 73, 75, 76, 77, 78, 80, 82, 84, 86, 88, 90, 92, 93, 94, 95, 96, 97]
[4, 5, 6, 7, 10, 12, 15, 16, 17, 18, 20, 24, 25, 27, 30, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 72, 73, 75, 76, 77, 78, 80, 82, 84, 86, 88, 90, 92, 93, 94, 95, 96, 97]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [120]:
# Your code here
set1={1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 24, 25, 27, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 69, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]


for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(f"El nuevo set1 es: {set1}")

El nuevo set1 es: {2, 3, 4, 5, 6, 7, 10, 12, 15, 16, 17, 18, 20, 24, 25, 27, 30, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 72, 73, 75, 76, 77, 78, 80, 82, 84, 86, 88, 90, 92, 93, 94, 95, 96, 97}