## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [69]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [70]:
lst = range(101)
sample_list_1 = random.sample(lst, 80)
print(len(sample_list_1))
print(sample_list_1)

for num in sample_list_1:
    if sample_list_1.count(num) > 1:
        print("appears more than once")

80
[48, 62, 5, 25, 54, 30, 60, 67, 11, 18, 75, 32, 94, 68, 46, 79, 90, 71, 93, 2, 36, 42, 97, 9, 56, 27, 47, 41, 33, 70, 64, 23, 22, 13, 59, 65, 49, 37, 4, 40, 61, 20, 74, 6, 39, 88, 83, 81, 19, 7, 0, 66, 78, 87, 86, 35, 63, 15, 100, 96, 91, 8, 53, 38, 72, 98, 29, 85, 95, 1, 44, 31, 45, 99, 12, 26, 10, 73, 21, 69]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [71]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(len(set1))

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 18, 19, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 53, 54, 56, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 78, 79, 81, 83, 85, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [72]:
# Your code here
sample_list_2 = list()

for i in range(80):
    sample_list_2.append(random.randint(0, 100))
    
print(sample_list_2)
print(len(sample_list_2))

for num in sample_list_2:
    if sample_list_2.count(num) > 1:
        print("{0} appears more than once".format(num))


# num = random.randint(0, 100)
# print(num)

[10, 95, 17, 93, 93, 49, 38, 40, 55, 93, 92, 81, 100, 91, 26, 30, 49, 6, 64, 53, 41, 16, 69, 87, 1, 9, 54, 60, 42, 87, 53, 54, 65, 84, 82, 39, 51, 85, 88, 83, 41, 88, 59, 28, 5, 69, 94, 35, 83, 58, 79, 96, 98, 63, 14, 99, 40, 65, 62, 75, 33, 31, 53, 63, 43, 62, 13, 1, 7, 46, 28, 78, 67, 60, 31, 72, 57, 11, 23, 35]
80
93 appears more than once
93 appears more than once
49 appears more than once
40 appears more than once
93 appears more than once
49 appears more than once
53 appears more than once
41 appears more than once
69 appears more than once
87 appears more than once
1 appears more than once
54 appears more than once
60 appears more than once
87 appears more than once
53 appears more than once
54 appears more than once
65 appears more than once
88 appears more than once
83 appears more than once
41 appears more than once
88 appears more than once
28 appears more than once
69 appears more than once
35 appears more than once
83 appears more than once
63 appears more than once
40 appears more than once
65 appears more than once
62 appears more than once
31 appears more than once
53 appears more than once
63 appears more than once
62 appears more than once
1 appears more than once
28 appears more than once
60 appears more than once
31 appears more than once
35 appears more than once

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [73]:
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{1, 5, 6, 7, 9, 10, 11, 13, 14, 16, 17, 23, 26, 28, 30, 31, 33, 35, 38, 39, 40, 41, 42, 43, 46, 49, 51, 53, 54, 55, 57, 58, 59, 60, 62, 63, 64, 65, 67, 69, 72, 75, 78, 79, 81, 82, 83, 84, 85, 87, 88, 91, 92, 93, 94, 95, 96, 98, 99, 100}
60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [74]:
set3 = set()

for num in set1:
    if num not in set2:
        set3.add(num)
print(set3)
print(len(set3))

{0, 2, 4, 8, 12, 15, 18, 19, 20, 21, 22, 25, 27, 29, 32, 36, 37, 44, 45, 47, 48, 56, 61, 66, 68, 70, 71, 73, 74, 86, 90, 97}
32

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [75]:
set4 = set()

for num in set2:
    if num not in set1:
        set4.add(num)
print(set4)
print(len(set4))

{43, 14, 92, 16, 17, 82, 51, 84, 55, 57, 58, 28}
12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [76]:
set5 = set()

for num in set1:
    if num in set2:
        set5.add(num)
print(set5)
print(len(set5))

{1, 5, 6, 7, 9, 10, 11, 13, 23, 26, 30, 31, 33, 35, 38, 39, 40, 41, 42, 46, 49, 53, 54, 59, 60, 62, 63, 64, 65, 67, 69, 72, 75, 78, 79, 81, 83, 85, 87, 88, 91, 93, 94, 95, 96, 98, 99, 100}
48

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [77]:
print(len(set1))
print(len(set2))
print(len(set3)) # elements in set1 but not in set2.
print(len(set4)) # elements in present in set2 but not in set1
print(len(set5)) # elements in shared between set1 and set2

new_set3 = set1.difference(set2)
new_set4 = set2.difference(set1)
new_set5 = set1.intersection(set2)

print(set3)
print(new_set3)

if set3.issubset(new_set3) and new_set3.issubset(set3):
    print(True)

80
60
32
12
48
{0, 2, 4, 8, 12, 15, 18, 19, 20, 21, 22, 25, 27, 29, 32, 36, 37, 44, 45, 47, 48, 56, 61, 66, 68, 70, 71, 73, 74, 86, 90, 97}
{0, 2, 4, 8, 12, 15, 18, 19, 20, 21, 22, 25, 27, 29, 32, 36, 37, 44, 45, 47, 48, 56, 61, 66, 68, 70, 71, 73, 74, 86, 90, 97}
True

#### Create an empty set called `set6`.

In [78]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [79]:
set6 = set()
set6.update(set3.union(set5))
print(set6)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 18, 19, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 53, 54, 56, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 78, 79, 81, 83, 85, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [80]:
if set1.issubset(set6) and set6.issubset(set1):
    print(True)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [81]:
if set1.issubset(set2) and set1.issubset(set3):
    print(True)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [82]:
union1 = set3.union(set4, set5)
print(union1)

union2 = set1.union(set2)
print(union2)

if union1 == union2:
    print(True)
if union1.issubset(union2) and union2.issubset(union1):
    print(True)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
True
True

#### Using the `pop` method, remove the first element from `set1`.

In [83]:
print(set1)
num = set1.pop()
print(set1)
print(num)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 18, 19, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 53, 54, 56, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 78, 79, 81, 83, 85, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 18, 19, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 53, 54, 56, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 78, 79, 81, 83, 85, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [85]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

print(set1)

for num in list_to_remove:
    if num in set1:
        set1.remove(num)
print(set1)

{2, 4, 5, 6, 7, 8, 10, 12, 13, 15, 18, 20, 22, 23, 25, 26, 27, 30, 32, 33, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 53, 54, 56, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 78, 83, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98, 100}
{2, 4, 5, 6, 7, 8, 10, 12, 13, 15, 18, 20, 22, 23, 25, 26, 27, 30, 32, 33, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 53, 54, 56, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 78, 83, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98, 100}